<% include("templates/header") %>
<h2>Welcome <%= name %></h2>
<img src='../public/<%num%>.jpg'>
<form action='/user_logout' method='post'>
    <button>Log Out</button>
</form>
<% include("templates/footer") %>